<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Achivement</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>

<div th:replace="template::navlinks"></div>
<div class="row">
    <div class="col-sm-8"><!-- add skill form section begins here -->
        <form th:action="@{/addachivement}" th:object="${achivement}" th:method="post" class="form-group">

            <input type="hidden" th:field="*{id}"/>

            <span th:if="${#fields.hasErrors('degreetype')}" th:errors="*{degreetype}"></span>
            <label>Degree type:  </label>
            <input type="text" th:field="*{degreetype}"/>
            <br/>
            <span th:if="${#fields.hasErrors('degreename')}" th:errors="*{degreename}"></span>
            <label>Degree name:  </label>
            <input type="text" th:field="*{degreename}"/>
            <br/>
            <span th:if="${#fields.hasErrors('school')}" th:errors="*{school}"></span>
            <label>School:  </label>
            <input type="text" th:field="*{school}"/>
            <br/>
            <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
            <label>Year of graduate:  </label>
            <input type="date" th:field="*{year}"/>
            <br/>

            <br/>
            <input type="submit" value="submit" name="Add achivement"/>
        </form>
    </div> <!-- form section ends here -->

</div>

<div class="row">
    <div class="col-sm-7">



    </div>

</div>

</body>
</html>