<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>

<div th:replace="template::navlinks"></div>
<div class="row">
    <div class="col-sm-8"><!-- add experiance form section begins here -->
        <form th:action="@{/addexperiance}" th:object="${experiances}" th:method="post" class="form-group">

            <input type="hidden" th:field="*{id}"/>

            <span th:if="${#fields.hasErrors('jobExperiance')}" th:errors="*{jobExperiance}"></span>
            <label>Experiance: </label>
            <input type="text" th:field="*{jobExperiance}"/>
            <br/>

            <br/>
            <input type="submit" value="submit" name="Add experiance"/>
        </form>
    </div> <!-- form section ends here -->

</div>

<div class="row">
    <div class="col-sm-7">
        <form


    </div>

</div>

</body>
</html>